<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>Nowa oferta OLX</title>
  </head>
  <body>
    <h1>Nowa oferta spełniająca Twoje wymagania!</h1>

    <p><strong>Tytuł:</strong> {{ title }}</p>
    <p><strong>Opis:</strong> {{ description }}</p>
    <p><strong>Cena:</strong> {{ price }} zł</p>

    <p>
      <a href="{{ url }}">Zobacz ofertę</a>
    </p>
  </body>
</html>
